body{
    background-color: rgb(104, 204, 243);

}

h1{
    color: rgb(37, 90, 134);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;

}
P{

    color: rgb(0, 117, 53);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    
}
h2{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    white-space: nowrap;

}
.pill
{
    border-radius: 5px; 
    padding:2rem 3rem; 
    text-transform: uppercase; 
    cursor: pointer;
    background:rgb(24, 131, 238);
    color:red;

}
.pill:hover{
    background: dodgerblue;
    color:rgb(255, 255, 255);

}