.box{

background-image: url(../test_erem_ryan/background.jpg);
width: 100%;
height: 100%;
top: 0;
left: 0;
position:absolute;
background-size: cover;
z-index: -2;





}
body{
   

}

h1{
    color: rgb(37, 90, 134);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
  
    

}
P{

    color: rgb(0, 117, 53);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    
    
}
h2{

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    white-space: nowrap;
    position: fixed;
    transform: translate(750%, 50%);

}
p1{
    position: fixed;
    bottom: 0px ;
    left: 15px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);

}

.pill
{
    box-shadow: 0px 8px 2px 0px #11496e;
   border: 3px solid #ffffff;
   background: transparent;
    padding: 25px 25px;
    font-size: 20px;
    font-family: fantasy;
    cursor: pointer;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    transform: translate(-50%, +500%);
    overflow: hidden;
    cursor: pointer;
    transition: .25s;
   
}
.pill::before{
    content: "";
    height: 350px;
    width: 350px;
    background: rgb(5, 197, 255);
    position:absolute;
    left:60%;
    top: 25%;
    transform: translate(-50%);
    z-index: -2;
    border-radius: 150px;
    animation: wave 5s infinite linear;
    transform: translate(-50%) rotate(150deg);
    transition: 2s;
}


.pill:hover::before{

        top: -15%;

}
    


.pill::after{
    
    content: "";
    height: 350px;
    width: 350px;
    background: rgb(54, 173, 241);
    position:absolute;
    left:60%;
    top: 28%;
    transform: translate(-50%);
    z-index: -1;
    border-radius: 150px;
    animation: wave 5s infinite linear;
    transform: translate(-50%) rotate(200deg);
    transition: 2s;
}
@keyframes wave{
    0%{
        transform: translate(-50%)rotate(-180deg);
    }
  
}
.pill:hover::after{

        top: -10%;

}
.pill:active{

    color: #786fd3;
    border: 3px solid #786fd3;
    box-shadow: 0px 10px 0px 1px #786fd3;


}
.pill_1{

box-shadow: 0px 8px 2px 0px #11496e;
   border: 3px solid #ffffff;
   background: transparent;
    padding: 25px 45px;
    font-size: 20px;
    font-family: fantasy;
    cursor: pointer;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    transform: translate(-50%, +700%);
    overflow: hidden;
    cursor: pointer;
    transition: .25s;


}
.pill_1::before{
    content: "";
    height: 350px;
    width: 350px;
    background: rgb(255, 97, 5);
    position:absolute;
    left:60%;
    top: 30%;
    transform: translate(-50%);
    z-index: -2;
    border-radius: 155px;
    animation: wave 5s infinite linear;
    transform: translate(-50%) rotate(150deg);
    transition: 2s;
}


.pill_1:hover::before{

        top: -15%;

}
    


.pill_1::after{
    
    content: "";
    height: 350px;
    width: 350px;
    background: rgb(255, 8, 8);
    position:absolute;
    left:60%;
    top: 45%;
    transform: translate(-50%);
    z-index: -1;
    border-radius: 140px;
    animation: wave 5s infinite linear;
    transform: translate(-50%) rotate(200deg);
    transition: 2s;
}
@keyframes wave{
    0%{
        transform: translate(-50%)rotate(-180deg);
    }
  
}
.pill_1:hover::after{

        top: -10%;

}
.pill_1:active{

    color: #786fd3;
    border: 3px solid #786fd3;
    box-shadow: 0px 10px 0px 1px #786fd3;
   
}





#my-canvas{

        position: absolute;
        background: transparent;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    visibility: hidden;
}
#my-canvas.active{
    animation: fade 2s linear ; 
    visibility: visible;
    transition: .10s;
}
@keyframes fade
{
    0%{
        opacity: 0%;
    }
}
